@import url("https://fonts.googleapis.com/css2?family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: hsl(30, 38%, 92%);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

.container {
  background-color: hsl(0, 0%, 100%);
  max-width: 600px;
  width: 100%;
  display: flex;
  flex-direction: row;
  border-radius: 10px;
  overflow: hidden;
}

.product-image {
  width: 50%;
  height: auto;
  display: block;
}

.content {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 30px;
  gap: 15px;
}

.company-name {
  color: hsl(228, 12%, 48%);
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 5px;
  font-size: 12px;
}

.product-name {
  color: hsl(212, 21%, 14%);
  font-family: "Fraunces", sans-serif;
  font-weight: 700;
  line-height: 1.1;
  font-size: 32px;
}

.product-description {
  font-size: 14px;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  color: hsl(228, 12%, 48%);
}

.price-section {
  display: flex;
  align-items: center;
  gap: 20px;
}

.current-price {
  color: hsl(158, 36%, 37%);
  font-family: "Fraunces", sans-serif;
  font-weight: 700;
  font-size: 32px;
}

.original-price {
  text-decoration: line-through;
  color: hsl(228, 12%, 48%);
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  font-weight: 500;
}

.add-to-cart-button {
  width: 100%;
  background-color: hsl(158, 36%, 37%);
  color: hsl(0, 0%, 100%);
  border: none;
  border-radius: 8px;
  padding: 15px 0;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 14px;
  transition: background-color 0.3s ease;
}

.add-to-cart-button:hover {
  background-color: hsl(158, 42%, 18%);
}

.attribution {
  font-size: 11px;
  text-align: center;
  margin-top: auto;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}

@media (max-width: 600px) {
  .container {
    flex-direction: column;
    max-width: 340px;
  }

  .product-image {
    flex: unset;
    width: 100%;
    border-radius: 10px 10px 0 0;
  }

  .content {
    flex: unset;
    width: 100%;
    padding: 25px;
    gap: 12px;
  }
}